---

- name: Install httpd

  yum:

    name: httpd

    state: present



- name: Copy static website

  copy:

    src: index.html

    dest: /var/www/html/index.html

    mode: '0644'

  notify: Restart httpd



- name: Start and enable httpd

  service:

    name: httpd

    state: started

    enabled: yes


